    
   <!DOCTYPE html>
   <html lang="es-MX">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <meta http-equiv="X-UA-Compatible" content="ie=edge">
       <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
       <meta name="description" content="Crearemos un sitio web que se convertirá en tu principal herramienta comercial para atraer nuevos clientes. Más de 100 proyectos realizados.">
       
       <title>{% block title %}Página Base &#8902; Tecnómata{% endblock %}</title>
   
       <!-- SEO -->
       <meta property="og:locale" content="es_MX">
       <meta property="og:type" content="website">
       <meta property="og:title" content="{% block og_title %}Página Base &#8902; Tecnómata{% endblock %}">
       <meta property="og:description" content="{% block og_description %}Descubre cuánto cuesta crear y mantener una página web en México.{% endblock %}">
       <meta property="og:image" content="{{ url_for('static', filename='img/forshare.jpg') }}">
       <meta name="twitter:card" content="summary_large_image">
   
       <!-- CSS -->
       <link rel="stylesheet" href="{{ url_for('static', filename='css/main.min.css') }}">
   
       <!-- Favicon -->
       <link rel="icon" href="{{ url_for('static', filename='img/cropped-favicon-32x32-tec.png') }}" sizes="32x32">
       <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/cropped-favicon-180x180-tec.png') }}">
       <meta name="msapplication-TileImage" content="{{ url_for('static', filename='img/cropped-favicon-270x270-tec.png') }}">
   </head>
   <body>
       <div class="wrapper">
           <!-- Header -->
           {% include "components/header.html" %}
   
           <!-- Main Content -->
           <main class="main">
               {% block content %}
               <!-- Contenido dinámico irá aquí -->
               {% endblock %}
           </main>
   
           <!-- Footer -->
           {% include "components/footer.html" %}
   
           <!-- Modal Menu -->
           {% include "components/modal-menu.html" %}
   
           <!-- Formulario -->
           {% include "components/form.html" %}
       </div>
   
       <!-- JS -->
       <script src="{{ url_for('static', filename='js/script.min.js') }}"></script>
       <script src="{{ url_for('static', filename='js/form-handler.js') }}"></script>
   </body>
   </html>
   