<section class="additional" id="additional">
    <div class="bg-border"></div>
    <div class="container">
        <div class="additional-header">
            <div class="additional-header-left">
                <p class="pretitle">servicios</p>
                <h2 class="title-large">adicionales</h2>
            </div>
            <p class="desc">
                Solución integral: estrategias de marketing, gestión de clientes y herramientas avanzadas adaptadas a tus necesidades.                        </p>
        </div>
                            <div class="advantages-content">
                                    <a href="#" class="advantages-item advantages-item-link" target="_self">
                <div class="advantages-media">
                    <img class="lazy" data-src="{{ url_for('static', filename='img/services-presentations.jpg') }}" src="{{ url_for('static', filename='img/loader-additional.png') }}" alt="automatización">
                </div>
                <div class="advantages-text">
                    <div class="advantages-info">
                        <div class="title-medium">
                            <span>Automatización Inteligente</span>
                            <svg class="arrow" viewBox="0 0 24 24">
                                <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                                <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                            </svg>
                        </div>
                        <p class="desc">Simplifica tu gestión diaria: Automatiza campañas de email, SMS y seguimiento para enfocarte en lo importante.</p>
                    </div>
                    <div class="advantages-number">
                        01                                </div>
                </div>
            </a>
                                    <a href="#" class="advantages-item advantages-item-link" target="_self">
                <div class="advantages-media">
                    <img class="lazy" data-src="{{ url_for('static', filename='img/services-branding.jpg') }}" src="{{ url_for('static', filename='img/loader-additional.png') }}" alt="embudos personalizados">
                </div>
                <div class="advantages-text">
                    <div class="advantages-info">
                        <div class="title-medium">
                            <span>Embudos de Conversión Personalizados</span>
                            <svg class="arrow" viewBox="0 0 24 24">
                                <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                                <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                            </svg>
                        </div>
                        <p class="desc">Convierte más clientes: Diseña flujos de ventas efectivos para maximizar tus resultados.</p>
                    </div>
                    <div class="advantages-number">
                        02                                </div>
                </div>
            </a>
                                    <a href="#" class="advantages-item advantages-item-link" target="_blank">
                <div class="advantages-media">
                    <img class="lazy" data-src="{{ url_for('static', filename='img/services-quizlanding.jpg') }}" src="{{ url_for('static', filename='img/loader-additional.png') }}" alt="todo en uno">
                </div>
                <div class="advantages-text">
                    <div class="advantages-info">
                        <div class="title-medium">
                            <span>CRM Todo-en-Uno</span>
                            <svg class="arrow" viewBox="0 0 24 24">
                                <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                                <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                            </svg>
                        </div>
                        <p class="desc">Control total de tus clientes: Centraliza contactos, tareas y comunicaciones en una plataforma fácil de usar.</p>
                    </div>
                    <div class="advantages-number">
                        03                                </div>
                </div>
            </a>
                                </div>
                        </div>
</section>