<section class="contacts" id="contactos">
    <div class="container">
        <div class="contacts-left">
            <p class="pretitle">Hablemos</p>
            <h2 class="title-large">de tu proyecto</h2>
        </div>
        <div class="contacts-socials">
            <div class="desc">formas de contacto:</div>

                        <div class="contacts-socials-content">
                                <a class="contacts-socials-item" href="mailto:ventas@tecnomata.com" target="_blank">
                    <img src="{{ url_for('static', filename='img/email.png') }}" alt="Correo electrónico">
                    <div class="contacts-socials-item-text">
                        <span>e-mail</span>
                    </div>
                    <svg class="arrow" viewBox="0 0 24 24">
                        <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                        <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                    </svg>
                </a>
                                <a class="contacts-socials-item" href="https://www.instagram.com/tecnomatadigital" target="_blank">
                    <img src="{{ url_for('static', filename='img/instagram.svg') }}" alt="Instagram">
                    <div class="contacts-socials-item-text">
                        <span>instagram</span>
                    </div>
                    <svg class="arrow" viewBox="0 0 24 24">
                        <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                        <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                    </svg>
                </a>
                                <a class="contacts-socials-item" href="https://wa.me/+527771932769" target="_blank">
                    <img src="{{ url_for('static', filename='img/whatsapp.svg') }}" alt="Whatsapp">
                    <div class="contacts-socials-item-text">
                        <span>whatsapp</span>
                    </div>
                    <svg class="arrow" viewBox="0 0 24 24">
                        <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                        <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                    </svg>
                </a>
                            </div>
            
            <button class="button button-yellow" data-action="form" data-style="fleshChars">
                <span>deja un mensaje</span>
            </button>
        </div>
        <div class="contacts-owner">
            <div class="contacts-media__wrapper">
                <img class="contacts-media lazy" data-src="{{ url_for('static', filename='img/forshare.jpg') }}" src="{{ url_for('static', filename='img/loader-contacts.png') }}" alt="tarjeta presentacion">
            </div>
            <p class="contacts-title">
                Soluciones efectivas a tus necesidades.            </p>
            <p class="contacts-desc">
                Tecnómata studio            </p>
        </div>
    </div>
</section>