
<footer class="footer">
    <div class="container">
        <div class="footer-left">
            <a href="{{ url_for('home') }}" class="logo" aria-label="Tecnómata">
                <img src="{{ url_for('static', filename='img/logo-en.png') }}" alt="Tecnómata">
            </a>
                        <a href="{{ url_for('home') }}#contactos" class="button button-outline" target="_self">
                <span>contáctanos</span>
                <svg class="arrow" viewBox="0 0 24 24">
                    <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                    <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                </svg>
            </a>
        </div>
        <div class="footer-right">
            <div class="socials">
            <a class="social-item" href="mailto:ventas@tecnomata.com" target="_blank">
            <img src="{{ url_for('static', filename='img/email.png') }}" alt="Correo electrónico">
        </a>
            <a class="social-item" href="https://twitter.com/tecnomataD" target="_blank">
            <img src="{{ url_for('static', filename='img/twitter.png') }}" alt="Twitter">
        </a>
            <a class="social-item" href="https://wa.me/+527771932769" target="_blank">
            <img src="{{ url_for('static', filename='img/whatsapp.svg') }}" alt="Whatsapp">
        </a>
            <a class="social-item" href="https://www.tiktok.com/@tecnomatad" target="_blank">
            <img src="{{ url_for('static', filename='img/tiktok.png') }}" alt="TikTok">
        </a>
    </div>
            <button class="link link-arrow" data-action="form">
                <span>
                    hablemos                </span>
                <svg class="arrow" viewBox="0 0 24 24">
                    <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                    <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                </svg>
            </button>
        </div>
    </div>
</footer>
