<section class="media">
    <div class="container">
        <div class="media-header">
            <div class="media-header__left">
                <p class="pretitle">visita nuestras redes sociales</p>
                <h2 class="title-large">siempre hay cosas interesantes </h2>
            </div>
            <div class="desc">únete<span class="blue"> :)</span></div>
        </div>

                <div class="cases-content">
                            <a href="https://www.youtube.com/@tecnomata" class="cases-item" target="_blank" style="background: #444">
                <div class="cases-img-wrapper">
                    <img class="cases-img lazy" data-src="{{ url_for('static', filename='img/youtube-tec.jpg') }}" src="{{ url_for('static', filename='img/loader.png') }}" alt="Youtube">
                </div>
                <div class="cases-info">
                    <div class="cases-title">Canal de Youtube</div>
                    <button class="button button-outline">
                        <span>visitar</span>
                        <svg class="arrow" viewBox="0 0 24 24">
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                        </svg>
                    </button>
                </div>
            </a>
                            <a href="https://tiktok.com/@tecnomatad" class="cases-item" target="_blank" style="background: #6f695d">
                <div class="cases-img-wrapper">
                    <img class="cases-img lazy" data-src="{{ url_for('static', filename='img/tiktok-tec.jpg') }}" src="{{ url_for('static', filename='img/loader') }}.png" alt="canal de TikTok">
                </div>
                <div class="cases-info">
                    <div class="cases-title">canal TikTok</div>
                    <button class="button button-outline">
                        <span>visitar</span>
                        <svg class="arrow" viewBox="0 0 24 24">
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                        </svg>
                    </button>
                </div>
            </a>
                            <a href="https://instagram.com/tecnomatadigital" class="cases-item" target="_blank" style="background: #4c829d">
                <div class="cases-img-wrapper">
                    <img class="cases-img lazy" data-src="{{ url_for('static', filename='img/facebook-tec.jpg') }}" src="{{ url_for('static', filename='img/loader.png') }}" alt="página de facebook">
                </div>
                <div class="cases-info">
                    <div class="cases-title">Cuenta Instagram</div>
                    <button class="button button-outline">
                        <span>visitar</span>
                        <svg class="arrow" viewBox="0 0 24 24">
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                        </svg>
                    </button>
                </div>
            </a>
                            <a href="https://twitter.com/tecnomataD" class="cases-item" target="_blank" style="background: #1b1b1b">
                <div class="cases-img-wrapper">
                    <img class="cases-img lazy" data-src="{{ url_for('static', filename='img/twitter-tec.jpg') }}" src="{{ url_for('static', filename='img/loader.png') }}" alt="página de twitter">
                </div>
                <div class="cases-info">
                    <div class="cases-title">twitter</div>
                    <button class="button button-outline">
                        <span>visitar</span>
                        <svg class="arrow" viewBox="0 0 24 24">
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                        </svg>
                    </button>
                </div>
            </a>
                    </div>
            </div>
</section>