<section class="packs" id="packs">
    <div class="container">
        <div class="packs-header">
            <p class="pretitle">opciones</p>
            <h2 class="title-large">paquetes de sitios web</h2>
        </div>
        <div class="packs-content">
            <div class="packs-item">
                <div class="title-medium">
                    Básico                                                            
                </div>
                <div class="pack-desc">Landing</div>
                <div class="pack-fact__wrapper">
                                                        <div class="pack-fact">dominio .com</div>
                                                        <div class="pack-fact">plantilla de pago</div>
                                                        <div class="pack-fact">panel de wordpress</div>
                                                        <div class="pack-fact">base de datos de clientes</div>
                                                        <div class="pack-fact">hosting ssd</div>
                                                        <div class="pack-fact">2 e-mails profesionales</div>
                                                        <div class="pack-fact">perfil google my business</div>
                                                        <div class="pack-fact">revision mensual</div>
                                                </div>
                <button class="button button-yellow button-2level" data-action="form" data-pack="start">
                <span class="button-2level-top">
                    <span>$ 500 cada mes</span>
                    <svg class="arrow" viewBox="0 0 24 24">
                        <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z"/>
                        <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z"/>
                    </svg>
                </span>
                    <span class="button-2level-bottom">$ 1500 primer mes</span>
                </button>
            </div>
            <div class="packs-item">
                <div class="title-medium">
                    Intermedio                           
                    <svg>
                        <image href="{{ url_for('static', filename='img/fuego.gif') }}" height="25px" />
                    </svg>                                 
                </div>
                <div class="pack-desc">Página web de 3 a 5 secciones</div>
                <div class="pack-fact__wrapper">
                                                        <div class="pack-fact">dominio .com .com.mx</div>
                                                        <div class="pack-fact">plantilla web de pago</div>
                                                        <div class="pack-fact">plugins de pago</div>
                                                        <div class="pack-fact">base de datos de clientes</div>
                                                        <div class="pack-fact">hosting ssd en la nube</div>
                                                        <div class="pack-fact">5 e-mails profesionales</div>
                                                        <div class="pack-fact">perfil de google my business</div>
                                                        <div class="pack-fact">diseño de logo y marca</div>
                                                        <div class="pack-fact">panel de wordpress</div>
                                                        <div class="pack-fact">3 revisiones mensuales</div>
                                                        
                                                </div>
                <button class="button button-yellow button-2level" data-action="form" data-pack="business">
                <span class="button-2level-top">
                    <span>$ 1000 cada mes</span>
                    <svg class="arrow" viewBox="0 0 24 24">
                        <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z"/>
                        <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z"/>
                    </svg>
                </span>
                    <span class="button-2level-bottom">$ 2500 primer mes</span>
                </button>
            </div>
            <div class="packs-item">
                <div class="title-medium">
                    pro                                                                    
                                                </div>
                <div class="pack-desc">proyectos robustos a medida</div>
                <div class="pack-fact__wrapper">
                                                        <div class="pack-fact">dominio a elegir</div>
                                                        <div class="pack-fact">html, css, js, flask</div>
                                                        <div class="pack-fact">página a medida</div>
                                                        <div class="pack-fact">base de datos de clientes</div>
                                                        <div class="pack-fact">google analytics</div>
                                                        <div class="pack-fact">diseño de logos e imagenes</div>
                                                        <div class="pack-fact">panel de administracion</div>
                                                        <div class="pack-fact">multilanding y geolocalización</div>
                                                        <div class="pack-fact">actualizacion de plugins premium</div>
                                                        <div class="pack-fact">revisiones ilimitadas</div>
                                                        <div class="pack-fact">pasarelas de pago</div>
                                                        <div class="pack-fact">perfil de google my business</div>
                                                        <div class="pack-fact">Facebook y Google Ads</div>
                                                        <div class="pack-fact">Marketing a medida</div>
                                                        
                                                </div>
                <button class="button button-yellow button-2level" data-action="form" data-pack="pro">
                <span class="button-2level-top">
                    <span>cotiza el precio</span>
                    <svg class="arrow" viewBox="0 0 24 24">
                        <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z"/>
                        <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z"/>
                    </svg>
                </span>
                    <span class="button-2level-bottom">y recibe una propuesta</span>
                </button>
            </div>
        </div>
    </div>
</section>