<section class="cases">
    <div class="bg-border"></div>
    <div class="container">
        <div class="cases-header">
            <div class="cases-header-left">
                <p class="pretitle">
                    modificamos código                            </p>
                <h2 class="title-large">
                    diseños<br> listos                          </h2>
            </div>
            <div class="cases-header-right">
                <img src="{{ url_for('static', filename='img/logo-icon-tec.png') }}" alt="Tecnómata" class="logo-icon">
                <p class="desc">
                    En 10 años hemos implementado más de 100 sitios, sabemos lo que hacemos:                            </p>
            </div>
        </div>
                                                <div class="cases-content">
                                    <a href="{{ url_for('cases') }}" class="cases-item" style="background: #1c1c20">
                <div class="cases-img-wrapper">
                    <img class="cases-img lazy" data-src="{{ url_for('static', filename='img/dog-cat.png') }}" src="{{ url_for('static', filename='img/loader.png') }}" alt="Veterinaria template">
                </div>
                <div class="cases-info">
                    <div class="cases-title">Gatos y Perros</div>
                    <p class="cases-desc">
                        Sitio Web para veterinaria                                </p>
                    <button class="button button-outline">
                        <span>mas plantillas</span>
                        <svg class="arrow" viewBox="0 0 24 24">
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                        </svg>
                    </button>
                </div>
            </a>
                                    <a href="{{ url_for('cases') }}" class="cases-item" style="background: #ad9e90">
                <div class="cases-img-wrapper">
                    <img class="cases-img lazy" data-src="{{ url_for('static', filename='img/real-state.png') }}" src="{{ url_for('static', filename='img/loader.png') }}" alt="Real State template">
                </div>
                <div class="cases-info">
                    <div class="cases-title">Venta de Casas</div>
                    <p class="cases-desc">
                        Sitio Web para Bienes Raices                                </p>
                    <button class="button button-outline">
                        <span>mas plantillas</span>
                        <svg class="arrow" viewBox="0 0 24 24">
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                        </svg>
                    </button>
                </div>
            </a>
                                    <a href="{{ url_for('cases') }}" class="cases-item" style="background: #333333">
                <div class="cases-img-wrapper">
                    <img class="cases-img lazy" data-src="{{ url_for('static', filename='img/food-template.png') }}" src="{{ url_for('static', filename='img/loader.png') }}" alt="Restaurante">
                </div>
                <div class="cases-info">
                    <div class="cases-title">Restaurante</div>
                    <p class="cases-desc">
                        Sitio Web de comida                                </p>
                    <button class="button button-outline">
                        <span>mas plantillas</span>
                        <svg class="arrow" viewBox="0 0 24 24">
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                        </svg>
                    </button>
                </div>
            </a>
                                    <a href="{{ url_for('cases') }}" class="cases-item" style="background: #3e443f">
                <div class="cases-img-wrapper">
                    <img class="cases-img lazy" data-src="{{ url_for('static', filename='img/vestido-renta.png') }}" src="{{ url_for('static', filename='img/loader.png') }}" alt="Renta de vestidos">
                </div>
                <div class="cases-info">
                    <div class="cases-title">Renta de Vestidos</div>
                    <p class="cases-desc">
                        Vestidos para todo evento                                </p>
                    <button class="button button-outline">
                        <span>mas plantillas</span>
                        <svg class="arrow" viewBox="0 0 24 24">
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                        </svg>
                    </button>
                </div>
            </a>
                                    <a href="{{ url_for('cases') }}" class="cases-item" style="background: #0a0b36">
                <div class="cases-img-wrapper">
                    <img class="cases-img lazy" data-src="{{ url_for('static', filename='img/caridad.png') }}" src="{{ url_for('static', filename='img/loader.png') }}" alt="caridad">
                </div>
                <div class="cases-info">
                    <div class="cases-title">Fundacion y Caridad</div>
                    <p class="cases-desc">
                        Sitio Web de ayuda social                                </p>
                    <button class="button button-outline">
                        <span>mas plantillas</span>
                        <svg class="arrow" viewBox="0 0 24 24">
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                        </svg>
                    </button>
                </div>
            </a>
                                    <a href="{{ url_for('cases') }}" class="cases-item" style="background: #509bbf">
                <div class="cases-img-wrapper">
                    <img class="cases-img lazy" data-src="{{ url_for('static', filename='img/joyeria.png') }}" src="{{ url_for('static', filename='img/loader.png') }}" alt="joyeria">
                </div>
                <div class="cases-info">
                    <div class="cases-title">Joyería Fina</div>
                    <p class="cases-desc">
                        Sitio Web de Joyeria y Accesorios                                </p>
                    <button class="button button-outline">
                        <span>mas plantillas</span>
                        <svg class="arrow" viewBox="0 0 24 24">
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                        </svg>
                    </button>
                </div>
            </a>
                                    <a href="{{ url_for('cases') }}" class="cases-item" style="background: #3b3c3d">
                <div class="cases-img-wrapper">
                    <img class="cases-img lazy" data-src="{{ url_for('static', filename='img/plantas.png') }}" src="{{ url_for('static', filename='img/loader.png') }}" alt="Plantas">
                </div>
                <div class="cases-info">
                    <div class="cases-title">Plantas y Decoración</div>
                    <p class="cases-desc">
                        Sitio Web de Decoración y Plantas                                </p>
                    <button class="button button-outline">
                        <span>mas plantillas</span>
                        <svg class="arrow" viewBox="0 0 24 24">
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                        </svg>
                    </button>
                </div>
            </a>
                                    <a href="{{ url_for('cases') }}" class="cases-item" style="background: #444">
                <div class="cases-img-wrapper">
                    <img class="cases-img lazy" data-src="{{ url_for('static', filename='img/abogados.png') }}" src="{{ url_for('static', filename='img/loader.png') }}" alt="Abogados">
                </div>
                <div class="cases-info">
                    <div class="cases-title">Despacho de Abogados</div>
                    <p class="cases-desc">
                        Sitio Web de Despacho de Abogados                                </p>
                    <button class="button button-outline">
                        <span>mas plantillas</span>
                        <svg class="arrow" viewBox="0 0 24 24">
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                            <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z" />
                        </svg>
                    </button>
                </div>
            </a>
                                </div>
                                                <div class="cases-viewAll-wrapper">
            <a href="{{ url_for('cases') }}" class="cases-viewAll button" data-style="fleshChars">
            <span>ver todas las plantillas</span>
            </a>
        </div>
                        </div>
</section>