<section class="clients">
    <div class="container">
        <p class="desc">
            <span>tecnologías</span>
        </p>
                                                                    <img class="clients-item" src="{{ url_for('static', filename='img/ico-css.png') }}" alt="css 3">
                                                <img class="clients-item" src="{{ url_for('static', filename='img/ico-wordpress.svg') }}" alt="Wordpress">
                                                <img class="clients-item" src="{{ url_for('static', filename='img/ico-html.png') }}" alt="html 5">
                                                <img class="clients-item" src="{{ url_for('static', filename='img/ico-js.png') }}" alt="javascript">
                                                <img class="clients-item" src="{{ url_for('static', filename='img/ico-python.png') }}" alt="python">
                                                    </div>
</section>