<section class="advantages">
    <div class="container">
        <div class="advantages-header">
            <p class="pretitle">tu sitio web, trabaja 24/7</p>
            <h2 class="title-large">mas clientes,<br> mas ingresos</h2>
        </div>

                                <div class="advantages-content">
                                                <div class="advantages-item">
                        <div class="advantages-media">
                            <img class="lazy" data-src="{{ url_for('static', filename='img/ventajas.gif') }}" src="{{ url_for('static', filename='img/loader-additional.png') }}" alt="nuestros proyectos">
                        </div>
                        <div class="advantages-text">
                            <div class="advantages-info">
                                <div class="title-medium">diseños a medida</div>
                                <p class="desc">Sea cual sea el giro de tu negocio,<br> tenemos un diseño que capturara la atención de tus clientes.</p>
                            </div>
                            <div class="advantages-number">
                                01                                        </div>
                        </div>
                    </div>
                                                    <div class="advantages-item">
                        <div class="advantages-media">
                            <img class="lazy" data-src="{{ url_for('static', filename='img/ventajas-2.png') }}" src="{{ url_for('static', filename='img/loader-additional.png') }}" alt="Sitios Responsivos">
                        </div>
                        <div class="advantages-text">
                            <div class="advantages-info">
                                <div class="title-medium"> facil de usar</div>
                                <p class="desc">Todos nuestros diseños son responsivos, <br> por lo que siempre se verán bien,<br> sin importar el dispositivo que utilicen tus clientes.</p>
                            </div>
                            <div class="advantages-number">
                                02                                        </div>
                        </div>
                    </div>
                                                    <div class="advantages-item">
                        <div class="advantages-media">
                            <img class="lazy" data-src="{{ url_for('static', filename='img/ventajas-3.png') }}" src="{{ url_for('static', filename='img/loader-additional.png') }}" alt="Soporte de inicio a fin">
                        </div>
                        <div class="advantages-text">
                            <div class="advantages-info">
                                <div class="title-medium">de inicio a fin</div>
                                <p class="desc">Te apoyaremos en cada momento para asegurar que tu sitio sea un éxito.<br> Cuando tu ganas, nosotros ganamos.</p>
                            </div>
                            <div class="advantages-number">
                                03                                        </div>
                        </div>
                    </div>
                                            </div>
        



    </div>
</section>