<section class="advantages">
    <div class="container">
        <div class="advantages-header">
            <p class="pretitle">¿Aun no tienes tu sitio web?</p>
            <h2 class="title-large">pierdes clientes,<br> pierdes dinero</h2>
        </div>

                                <div class="advantages-content">
                                                <div class="advantages-item">
                        <div class="advantages-media">
                            <img class="lazy" data-src="{{ url_for('static', filename='img/ventajas.gif') }}" src="{{ url_for('static', filename='img/loader-additional.png') }}" alt="nuestros proyectos">
                        </div>
                        <div class="advantages-text">
                            <div class="advantages-info">
                                <div class="title-medium">diseños a medida</div>
                                <p class="desc">Sea cual sea el giro de tu negocio,<br> tenemos un diseño que capturara la atención de tus clientes.</p>
                            </div>
                            <div class="advantages-number">
                                01                                        </div>
                        </div>
                    </div>
                                                    <div class="advantages-item">
                        <div class="advantages-media">
                            <img class="lazy" data-src="{{ url_for('static', filename='img/ventajas-2.png') }}" src="{{ url_for('static', filename='img/loader-additional.png') }}" alt="Sitios Responsivos">
                        </div>
                        <div class="advantages-text">
                            <div class="advantages-info">
                                <div class="title-medium"> ¿Tu dónde buscas?</div>
                                <p class="desc">si hoy no apareces en Google, no existes. <br> tu negocio no inspira confianza sin presencia online.<br> tu competencia ya esta ganando clientes, los que tu pierdes.</p>
                            </div>
                            <div class="advantages-number">
                                02                                        </div>
                        </div>
                    </div>
                                                    <div class="advantages-item">
                        <div class="advantages-media">
                            <img class="lazy" data-src="{{ url_for('static', filename='img/ventajas-3.png') }}" src="{{ url_for('static', filename='img/loader-additional.png') }}" alt="Soporte de inicio a fin">
                        </div>
                        <div class="advantages-text">
                            <div class="advantages-info">
                                <div class="title-medium">¿Eres bueno en lo que haces? ¿Es bueno tu producto? </div>
                                <p class="desc">El 81.4% de la población usa teléfono móvil.<br> En Google se realizan 63000 consultas cada segundo.<br>80% de las decisiones de compra comienzan en línea.</p>
                            </div>
                            <div class="advantages-number">
                                03                                        </div>
                        </div>
                    </div>
                                            </div>
        



    </div>
</section>