<section class="cta">
    <div class="bg-border">
        <div class="cta-parallax-wrapper">
            <div class="cta-parallax">
                                            <video class="cta-bg-media lazy" playsinline autoplay loop="loop" muted>
                    <source data-src="{{ url_for('static', filename='img/tecnomata-coding.mp4') }}" type="video/mp4">
                </video>
                                        </div>
        </div>
    </div>
    <div class="container">
        <h2 class="title-large">¿Tu negocio aparece en google?</h2>
        <div class="cta-left">
            <div class="ready">
<div class="ready-number">
<span class="ready-number-current">100</span><span class="blue">+</span>
</div>
<div class="desc">proyectos terminados</div>
</div>                        <a href="https://google.com.mx" class="button button-outline" rel="noopener noreferrer" target="_blank">
                <span>buscalo por lo que haces o lo que vendes, clic aquí</span>
                <svg class="arrow" viewBox="0 0 24 24">
                    <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z"/>
                    <path d="M10.7186 17.7593L4.83753 11.8782L3.46777 13.248L11.6873 21.4675L12.3722 20.7826L19.9068 13.248L18.537 11.8782L12.656 17.7593L12.656 2.09326H10.7186L10.7186 17.7593Z"/>
                </svg>
            </a>
        </div>
    </div>
</section>